/* Estilos globales , header, main, footer.*/

header{
    width: 100%;
    height: 100px;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* background-color: #555555; */
    overflow-x: hidden;
    min-height: 100vh;
}

.background-picture{
    background-color: lightblue;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -2;
}

.navbar {
    position: fixed;
    display: inline-flex;
    background-color: #FFFFFF;
    width: 100%;
    height: 100px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.2);
    top: 0;
    z-index: 100;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: rgb(24, 1, 1);
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu-horizontal > li:hover:first-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu-horizontal > li:hover:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover {
    background-color: black;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}


.logo{
    position: relative; /*ahora el valor de position es fixed en este y en las clases de nav y social-icon*/
    z-index: 2;
    margin: auto auto auto 50px;
    height: fit-content;
}

nav{
    height: fit-content;
    margin: auto;
}

.vinculos{
    position: relative;
}

.vinculos li{
    display: inline;
    margin: 0 8px 0 8px;
}

.vinculos a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.vinculos a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.social-icons {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto 50px auto auto;
}

.social-icons a{
    height: fit-content;
}

.social-icons a:not(:last-child) {
    margin-right: 10px;
}
  
.social-icons img {
    width: 40px;
    height: 40px;
}

footer{
    position: relative;
    text-align: center;
    background: url(/img/bg.jpg);
    padding: 20px;
    margin: auto;
    width: auto;
    bottom: 0;
}

.copyright{
    width: fit-content;
    font-size: 15px;
    margin: 10px auto;
}

.listas-footer{
    width: 75%;
    display: flex;
    font-size: 20px;
    margin: 0 auto;
}

.listas-footer ul{
    width: fit-content;
    height: auto;
    margin: 30px auto;
    text-align: left;
}

.listas-footer li:first-child{
    /* text-transform: uppercase; */
    font-family: 'Anton', sans-serif;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.listas-footer li:not(:first-child){
    font-weight: 700;
    margin-bottom: 5px;
}

main {
    display: grid;
    place-items: center;
}

/*Aquí inicia el CSS para nuestra home o pagina de Inicio*/

/*css for the slider*/

.slider{
    width: 100%;
    height: 480px;
    margin: 0px auto 0;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 480px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 0.5s;
}

.slide img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*css for manual navigation*/

.navigation-manual{
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    z-index: 2;
    width: 100%;
    padding: 426px 0 40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFFFFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #FFFFFF;
}

#radio1:checked ~ .first{
    margin-left: 0
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 426px 0 40px;
}

.navigation-auto div{
    border: 2px solid #FFFFFF;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #FFFFFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #FFFFFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #FFFFFF;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #FFFFFF;
}



.principal{
    padding: 3em 0;
    background: #FEFEFE;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.2);
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}

.principal p{
    box-sizing: border-box;
    padding: 0 10%;
    font-size:large;
    margin: 0 0 1em;
    text-align:justify; /* Alineación justificada*/
    text-justify: inter-word; /* Alineación justificada */
    line-height: 2; /* Interlineado doble */
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888)
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.servicios{
    padding: 50px auto;
    background-color: #FFFFFF;
}

.contenido-servicios{
    box-sizing: border-box;
    padding: 0 10%;
    width: 640px;
    margin: 0 auto;
}

.lista-servicios{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
    list-style-type: disc;
}

.items{
    line-height: 1.5;
    font-weight: normal;
}

.items:not(:last-child){
    margin-bottom: 10px;
}

/* .imagen-servicios{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000000;
}

.imagen-servicios:hover{
    opacity: 0.3;
} */

/* Estilos de la pagina empleo*/
  
.productos{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.productos li> img{
    height: 230px;
    width: 250px;
    align-items:center;
    
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color:#c78c19;
}

.productos li:active{
    border-color:#088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}

/* Estilos para pagina Extranjería */

.banner {
    width: 800px;
    margin: 1em auto;
    padding-top: 100px;
}

.banner img {
    width: 800px;
    margin: 1em auto;
    border-radius: 2%;
}

.video{
    width: 560px;
    margin: 5em auto;
    margin-top: 5em;
}


/*Estilos de la pagina contacto.html*/


.ingreso-grupo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh; /* Ajusta la altura según tus necesidades */
  }

form{ 
    display: block;
    align-content: center;
    width: 800px; /* Ajusta el ancho según tus necesidades */
    margin: 3em auto; /* Establece margen automático en los lados izquierdo y derecho */
    right: 250px;
}


form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/* estilos para el Responsive */

@media screen and (max-width:480px){
    logo{
        text-align: center;
    }
    nav, .caja, .social-icons{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-servicios, .video {
        width: auto;
        align-content: center;
    }
    .lista-servicios, .imagen-servicios{
        width: 100%;
    }

}